@import "../../../../../sass/variables";

// Header Section
.catalog-header {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $light-grey;
  font-family: "Raleway", sans-serif;
}