@import "../../../../../sass/variables";

.catalog-search-form-advanced-search {

  width: calc(25% - 30px);

  @media (max-width: 1139px) {
    width: calc(25% - 15px);
  }

  @media (max-width: 991px) {
    width: calc(30% - 15px);
  }

  @media (max-width: 767px) {
    width: 100%;
  }

  &__btn {
    background-color: $blue;
    border: none;
    color: #fff;
    font-weight: 500 !important;
    width: 100%;
    height: 100%;
    padding: 16px;
    font-size: 16px !important;
    cursor: pointer !important;
    transition: background-color .2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;

    &:disabled {
      background-color: #b3b3b3;
    }

    &:after {
      content: '';
      width: 20px;
      height: 20px;
      background-image: url('./images/arrow-down.svg');
      display: inline-block;
      margin-left: 15px;
      transition: all .2s ease-in-out;
    }

    &:hover, &:focus {
      background-color: lighten($blue, 5%);
    }

    &_active {
      &:after {
        transform: rotateZ(-180deg);
      }
    }
  }

  // Advanced Search Modal
  &-modal {
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 90%;
    width: 100%;
    z-index: 99999;
    display: none;

    &_active {
      display: block;

      @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
        /*justify-content: space-between;
        position: fixed;
        top: 100%;
        transform: translateY(-100%);
        height: 75%;*/
      }
    }

    @media (max-width: 767px) {
      top: 100%;
    }

    &:before {
      content: '';
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #fff;

      position: absolute;
      top: -10px;
      left: 50%;
      transform: translateX(-50%);
    }

    &-header {
      padding: 20px;
      border: 1px solid $light-grey-2;
    }

    &__title {
      text-align: center;
      margin: 0;
      font-weight: 700;
      line-height: 1.75;
    }

    &-body {
      padding: 30px 100px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      border-left: 1px solid $light-grey-3;
      border-right: 1px solid $light-grey-3;

      @media (max-width: 991px) {
        padding-left: 50px;
        padding-right: 50px;
      }

      @media (max-width: 767px) {
        padding: 30px;
      }

      // Wrapper for each checkbox
      &__category {

        input[type=checkbox] {
          // Make input visually hidden
          position: absolute;
          width: 1px;
          height: 1px;
          margin: -1px;
          border: 0;
          padding: 0;
          white-space: nowrap;
          clip-path: inset(100%);
          clip: rect(0 0 0 0);
          overflow: hidden;

          // Active checkbox
          &:checked {
            & + label {
              &:before {
                content: '';
                display: inline-block;
                width: 15px;
                height: 15px;
                margin-right: 15px;
                background-color: $blue;
                border-color: $blue;
                background-image: url('./images/check-icon.svg');
                background-repeat: no-repeat;
                background-position: center;
              }
            }
          }

          // Not Active checkbox
          &:not(:checked) + label {
            &:before {
              content: '';
              display: inline-block;
              width: 15px;
              height: 15px;
              margin-right: 15px;
              background-color: #fff;
              border: 1px solid $light-grey-3;
            }
          }

        }

        // Labels for the checkboxes
        label {
          transition: color .2s ease-in-out;
          cursor: pointer;
          display: flex;
          align-items: flex-start;

          &:before {
            flex-shrink: 0;
          }

          &:hover {
            color: $blue;
          }
        }

        &-name {
          line-height: 1.2;
        }

      }
    }

    &-col {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 33.33333%;
      padding-right: 15px;
      padding-left: 15px;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      @media (max-width: 767px) {
        width: 100%;
        padding: 15px 0;

        &:first-child {
          padding-top: 0;
        }

        &:last-child {
          padding-bottom: 0;
        }
      }
    }

    &__apply {
      width: 100%;
      background-color: $blue;
      color: #fff;
      border: none;
      padding: 15px;
      font-size: 16px !important;
      line-height: 19px !important;
      font-weight: 500 !important;
      cursor: pointer !important;
      transition: background-color .2s ease-in-out;

      &:hover, &:focus {
        background-color: lighten($blue, 5%);
      }
    }
  }

}