@import "../../../../../sass/variables";

.catalog-header__title {

  h1 {
    font-size: 32px !important;
    line-height: 38px !important;
    text-align: center;
    font-weight: 600 !important;
    color: $headlines;
    margin: 0;

    @media (max-width: 575px) {
      font-size: 24px !important;
      line-height: 28px !important;
    }

    &:after {
      content: '';
      background-image: url("./images/decor-bar.svg");
      background-repeat: no-repeat;
      display: block;
      width: 74px;
      height: 7px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 15px;
    }
  }

  &-num {
    font-family: "Verdana", sans-serif;
  }
}